*{
	padding: 0;
	margin: 0;
	font-family: Roboto;
}
body{
	background-color: #f1f3f6;
	font-family: Roboto;
}
.header{
	width: 100%;
	height: 50px;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	float: left;
}
.mid_header{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
.logo_haeder{
	height: 50px;
	float: left;
}
.img_logo_header{
	margin: 10px 0;
	height: 30px;
}
.search_head{
	height: 50px;
	float: right;
}
.search{
	padding: 0 5px;
	outline: none;
	border: 1px solid rgba(0,0,0,0.1);
	font-size: 12px;
	width: 150px;
	margin: 13px 10px;
	height: 24px;
}
.profile_head{
	width: 150px;
	height: 50px;
	float: right;
	line-height: 50px;
}
.profile_head a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	background: #337ab7;
	padding: 5px 10px;
	margin-right: 4px;
}
.logo{
	width: 100px;
	height: 40px;
	background-image: url('/img/logo-light.png');
	float: left;
	margin: 5px 0;
}
.menu{
	width: auto;
	height: 50px;
	float: left;
}
.menu_href{
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 10px;
	float: left;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}
.menu_href:first-child{
	margin-left: 30px;
}
.menu_href:hover{
	background: #337ab7;
}
.content{
	width: 1000px;
	height: 100vh;
	margin: 0 auto;
}
::-webkit-scrollbar {
  width: 0;
}
.popNow{
	width: 1000px;
	height: auto;
	padding-bottom: 50px;
	float: left;
	background: #fff;
	text-align: center;
}
.popBtn{
	display: block;
	float: left;
	padding: 0 8px;
	margin-top: -1px;
	background: #fff;
	font-size: 12px;
	color: #444;
	text-decoration: none;
	border-bottom: 1px solid #f1f1f1;
	border-radius: 5px 5px 0 0;
}
.popBtn:hover{
	background: #337ab7;
	color: #fff;
}
.popTitle{
	width: 100%;
	height: 30px;
	margin-top: 10px;
	float: left;
	line-height: 30px;
	background: #f1f1f1;
	border-top: 1px solid #f1f1f1;
}
.popTitle span{
	color: #444;
	font-size: 15px;
	margin-left: 10px;
	font-weight: bold;
	font-family: Roboto;
	text-transform: uppercase;
}
.blockPop{
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px 5px 5px 5px;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	border-radius: 60px;
}
.blockPop:first-child{
	margin-left: 10px;
}
.popName{
	width: 110px;
	height: 20px;
	font-size: 11px;
	float: left;
	position: absolute;
	bottom: -30;
}
.popName span{
	font-size: 10px;
}
.tag{
	padding: 2px 3px;
	background: #D7712D;
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	font-size: 11px;
}
.now_game{
	width: 100%;
	height: 100px;
	float: left;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 800;
	position: relative;
	color: #fff;
	background-position: 50% 50%;
	text-shadow: 1px 1px 0 black, -1px -1px 0 black;
}
.now_game span{
	color: #0173B5;
}
.now_game span:first-child{
	color: #fff;
}
.laikArt{
	width: 1000px;
	height: auto;
	float: left;
	margin-top: 20px;
	text-align: center;
}
.artBlock{
	width: calc((100%/3) - 1.4px);
	height: 120px;
	background-size: cover;
	background-position: 50% 50%;
	float: left;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	position: relative;
}
.artBlock span{
	line-height: 120px;
	text-shadow: 1px 1px 0 black, 1px 1px 0 black;
}
.artBlock:hover{
	cursor: pointer;
}
.artBlockBig:hover{
	cursor: pointer;

}
.artButton{
	text-transform: uppercase;
	width: 150px;
	height: 50px;
	background: #54BBE8;
	position: absolute;
	text-align: center;
	margin: auto;
	line-height: 50px;
	font-weight: 600;
	font-size: 15px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}
.artBlockBig{
	width: 100%;
	height: 220px;
	float: left;
	background-size: cover;
	background-position: 50% 50%;
	margin-top: 2px;
	color: #fff;
	text-align: center;
	line-height: 220px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 0 black, 1px 1px 0 black;
}
.filtr{
	width: 1000px;
	height: 50px;
	margin-top: 10px;
	float: left;
	background: #FDFDFD;
}
.sort{
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-right: 1px solid rgba(0,0,0,0.05);
	float: left;
}
.sort a{
	text-decoration: none;
	color: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 600;
}
.sort input{
}
.tfbcrpt{
	width: 100%;
	height: 70px;
	padding: 10px;
}
.tfbcrpt_und{
	font-size: 13px;
	color: #777;
	display: block;
	width: 100%;
	margin-top: 20px;
}
.tfbcrpt_title{
	margin-top: 1px;
	margin-left: 5px;
	float: left;
	font-size: 12px;
}
.tfbcrpt_img{
	width: 15px;
	float: left;
}
.slideContent{
	width: 1000px;
	height: auto;
	margin-top: 10px;
	float: left;
	background: #FDFDFD;
	float: left;
}
.slideTab{
	width: 102px;
	height: 100vh;
	background: #509ABF;
	float: left;
}
.tab{
	width: 102px;
	height: 70px;
	float: left;
	color: #fff;
	text-align: center;
	line-height: 70px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
}
.tab:hover{
	background: #3E7A97;
}
.slideIn{
	width: 100%;
	height: auto;
	float: right;
}
.main_new_post{
	width: 100#;
	height: 150px;
	border: 1px solid #f1f1f1;
}
.button_new_post{
	display: block;
	width: cacl(100% - 20px);
	height: 40px;
	background: #337ab7;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Roboto;
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	margin: 10px 10px;
	border-radius: 5px;
}
.SlideTitle{
	width: 100%;
	height: 50px;
	background: #FAFAFA;
	border-bottom: 1px solid #f1f1f1;
	line-height: 50px;
}
.SlideTitle span{
	margin-left: 20px;
	color: #444;
	font-size: 15px;
	font-weight: bold;
	font-family: Roboto;
	text-transform: uppercase;
}
.ava{
	float: right;
}
.img_avatar{
	background-size: cover;
	width: 30px;
	border-radius: 50px;
	height: 30px;
	margin: 10px;
}
.main_vert{
	width: 70px;
	height: auto;
	float: left;
}
.icon_main{
	width: 20px;
	height: 20px;
	margin: 40px 15px;
	transition: 0.4s;
	background-image: url(/img/main.png);
	background-size: cover;
	background-color: #252525;
	cursor: pointer;
}
.icon_main:hover{
	background-image: url(/img/main2.png);
	background-size: cover;
	background-color: #fff;
	border-radius: 3px;
}
.icon_news{
	width: 20px;
	height: 20px;
	margin: 40px 15px;
	transition: 0.4s;
	background-image: url(/img/news.png);
	background-size: cover;
	background-color: #252525;
	cursor: pointer;
}
.icon_news:hover{
	background-image: url(/img/news2.png);
	background-size: cover;
	background-color: #fff;
	border-radius: 3px;
}
.icon_dz{
	width: 20px;
	height: 20px;
	margin: 40px 15px;
	transition: 0.4s;
	background-image: url(/img/dz.png);
	background-size: cover;
	background-color: #252525;
	cursor: pointer;
}
.icon_dz:hover{
	background-image: url(/img/dz2.png);
	background-size: cover;
	background-color: #fff;
	border-radius: 3px;
}
.icon_top{
	width: 20px;
	height: 20px;
	margin: 40px 15px;
	transition: 0.4s;
	background-image: url(/img/top.png);
	background-size: cover;
	background-color: #252525;
	cursor: pointer;
	bottom: 0;
	position: absolute;
}
.tip{
	width: 100px;
	height: 20px;
	background: #fff;
	border-radius: 3px;
	float: left;
	position: absolute;
}
.login{
	width: 200px;
	height: auto;
	float: right;
	margin-top: 2px;
}
.p_login{
	text-align: center;
	display: block;
	font-family: Roboto;
	font-size: 13px;
	color: #333;
	margin-top: 10px;
}
.p_name{
	text-align: center;
	display: block;
	font-family: Roboto;
	font-size: 20px;
	color: #63C0FE;
	font-weight: bold;
	margin-top: 30px;
}

.post_user{
	width: 200px;
	height: 50px;
	float: right;
}
.hr_post{
	display: block;
	width: 150px;
	height: 30px;
	margin: 20px auto;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background: #2196f3;
	font-family: Roboto;
	font-size: 15px;
	text-decoration: none;
}
.edit{
	width: 20px;
	height: 20px;
	background: url(/img/edit.png);
	background-size: cover;
	float: right;
	cursor: pointer;
}

.edit:hover{
	background: url(/img/edit_after.png);
	background-size: cover;
}
.friend_list{
	float: left;
	width: 210px;
	height: 140px;
	margin-top: 1px;
	margin-left: 50px;
}
.gallary{
	width: 350px;
	height: 100px;
	float: right;
	margin-top: 2px;
	margin-right: 50px;
}
.all_profile{
	width: 350px;
	height: auto;
	float: left;
}
.main_profile{
	width: 350px;
	height: 30px;
	border-top: 1px solid #F5F6F7;
	border-bottom: 1px solid #F5F6F7;
	float: left;
}
.hr_main_profile{
	width: 25%;
	display: block;
	float: left;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #444;
	text-decoration: none;
	transition: all 150ms linear;
}

.details{
	width: 350px;
	margin:10px 15px;
	cursor: pointer;
	transition: 0.4s;
	float: left;
}
.details_block{
	width: 350px;
	height: auto;
	margin-left: -15px;
	background: #f6f7f8;
	border-top: 1px solid #F5F6F7;
	float: left;
}
.title_details_block{
	font-size: 14px;
	padding: 5px 0;
	color: #8a8a8a;
	font-weight: 400;
	display: block;
	font-family: Roboto;
}
.text_details_block{
	font-size: 11px;
	padding: 5px 0;
	color: #8a8a8a;
	font-weight: 400;
	display: block;
	font-family: Roboto;
}
.details_block span{
	margin-left: 15px;
	color: #8a8a8a;
	display: block;
}
.summary{
	outline: none;
	transition: 0.4s;
	list-style: none;
	height: 30px;
	font-size: 18px;
}
.line{
	width: 350px;
	height: 30px;
	border: 0;
	background: #FBFBFC;
	border: 1px solid #F5F6F7;
	color: #a8a8a8;
	font-family: Roboto;
	font-size: 13px;
	font-weight: normal;
	line-height: 30px;
}
.img_add_foto{
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.line p{
	padding: 0 10px;
	float: left;
}
.add_foto{
	width: 20px;
	height: 20px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	opacity: 0;
	cursor: pointer;
}
.non_foto{
	width: 70px;
	height: 70px;
	float: left;
}
.no_foto{
	float: left;
	width: 70px;
	height: 70px;
}
#input_news{
	width: 500px;
	resize: none;
	margin-top: 10px;
	outline: none;
	-moz-appearance: none;
    min-height: 40px;
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #444;
    padding: 5px;
	overflow: auto;
	border-left: 1px solid #F5F6F7;
	border-top: 1px solid #F5F6F7;
	border-bottom: 1px solid #F5F6F7;
	border-right: 0;
	float: left;
}
.submit_news{
	width: 95px;
	height: 42px;
	margin-top: 10px;
	border: 0;
	background: #2196f3;
	font-family: Roboto;
	font-size: 13px;
	color: #fff;
	cursor: pointer;
}
.main_dop{
	width: 600px;
	height: auto;
	margin-top: 10px;
}
.main_dop_hr{
	padding: 5px 10px;
	border: 1px solid #f1f1f1;
	color: #9A9A9A;
	text-decoration: none;
	font-family: Roboto;
	font-size: 13px;
	transition: 0.5s;
}
.main_dop_hr:hover{
	color: #B6B6B6;
	border: 1px solid #B6B6B6;
}
.SlideBis{
	width: 60%;
	height: auto;
	float: left;
}
.blockINslide{
	width: 560px;
	height: auto;
	margin: 10px 20px;
	position: relative;
	border: 1px solid #f1f1f1;
	padding-bottom: 20px;
	transition: 0.2s;
}
.blockINslide:hover{
	margin-left: 25px;
	border-left: 3px solid #337ab7;
}
.titleBis{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
	color: #333;
	background: #fff;
	cursor: pointer;
}
.titleBis a:hover{
	color: #337ab7;
}
.titleBis a{
	color: #333;
	text-decoration: none;
	margin-left: 20px;
}
.tagSpace{
	width: 100%;
	height: 30px;
}
.tagBis:first-child{
	margin-left: 20px;
}
.tagBis{
	padding: 3px 5px;
	background: #D7712D;
	margin-left: 5px;
	font-size: 10px;
	color: #fff;
}
.mainBis{
	width: calc(100% + 2px);
	height: auto;
	background-size: cover;
	background-position: 50% 50%;
	font-size: 12px;
	line-height: 18px;
}
.mainBis span{
	display: block;
	padding: 10px 20px;
}
.imgBis{
	width: auto;
	height: 79px;
}
.imgBis:first-child{
	margin-left: 20px;
}
.infoBis{
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.dateBis{
	margin-left: 20px;
	font-size: 10px;
	color: #AEAEAE;
}
.laikBis{
	float: right;
	color: #1F92D5;
	margin-right: 20px;
	text-decoration: none;
	font-size: 11px;
}
.SlideRecom{
	width: calc(40% - 20px);
	height: auto;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	
}
.RecomTitle{
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	font-weight: 600;
	color: #333;
	text-align: center;
	text-transform: uppercase;
	background: #fff;
}
.blockINrec{
	width: 250px;
	height: 70px;
	float: left;
	margin-top: 5px;
	cursor: pointer;
}
.blockINrec:hover{
	background: #337ab7;
	color: #fff;
}
.coverBic{
	width: 70px;
	height: 70px;
	float: left;
	background-size: cover;
	background-position: 50% 50%;
	float: left;
}
.titleBic{
	width: 170px;
	float: left;
	font-size: 12px;
	margin: 10px 5px;
	font-weight: 500;
}
.genreBic{
	width: 170px;
	float: left;
	font-size: 10px;
	color: #AEAEAE;
	margin: 0 5px;
}