*{
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}
body{
	font-family: Roboto;
	background: #FBFBFC;
	text-align: justify;
	box-sizing: border-box;
}
.header{
	width: 90%;
	height: auto;
	margin: 10px 5%;
	float: left;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 5px;
}
.logo{
	width: 100px;
	height: 70px;
	display: block;
}
.header_title{
	float: left;
	font-weight: 300;
	color: #2297f3;
	margin-left: 4px;
	font-family: FuturaPTMedium;
}
.content{
	width: 50%;
	height: calc(100vh - 50px);
	margin: 0 25%;
	position: fixed;
	background: #fff;
	border-left: 1px solid #f1f1f1;
	overflow: scroll;
	overflow-x: hidden;
}
.skin_space{
	width: 90%;
	height: auto;
	float: left;
	margin: 10px 5%;
}
.skin{
	width: 20%;
	height: 220px;
	float: left;
}
.cover{
	width: 100%;
	height: 200px;
	background-size: cover;
	float: left;
}
.name_skin{
	display: block;
	width: 100%;
	height: 20px;
	float: left;
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	text-decoration: underline;
	color: #444;
}
.writer{
	width: 50%;
	height: 50px;
	border-top:1px solid #f1f1f1;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	bottom: 0;
	left: 25%;
	right: 25%;
	position: fixed;
	background: #fdfdfd;
	z-index: 999;
}
.ic_menu{
	width: 25px;
	height: 25px;
	margin: 2.5px;
}
.href_menu{
	width: 30px;
	height: 30px;
	float: left;
	margin: 10px;
}
.error{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}